html {
    --primary: if($is-dark-mode, $dark-primary, $primary);
    --secondary: if($is-dark-mode, $dark-secondary, $secondary);
    --accent: if($is-dark-mode, $dark-accent, $accent);
    --error: if($is-dark-mode, $dark-error, $error);
    --background: if($is-dark-mode, $dark-background, $background);
    --text: if($is-dark-mode, $dark-text, $text);
    --gray: if($is-dark-mode, $dark-gray, $gray);
}
body {
    font-family: $font-family;
    margin: 0;
    padding: $spacing;
    background-color: $background;
    color: $text;
}

h1 {
    margin: 0;
    font-size: $font-size-lg;
}

// Стили для информации о кинотеатре
.cinema-detail-card {
    display: flex;
    gap: $spacing;
    align-items: flex-start;
    background: $white;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    overflow: hidden;
    padding: $spacing;

    .dark-mode & {
        background: $dark-modal; // Темный фон
        color: var(--text); // Светлый текст
    }
}

.cinema-detail-card img {
    width: 300px;
    height: auto;
    object-fit: cover;
    border-radius: $border-radius;
}

.cinema-info-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    padding: $spacing-sm;
}

.cinema-info-text h2 {
    margin-top: 0;
}

.cinema-info-text p {
    margin: $spacing-sm 0;
}
body.dark-mode {
    background-color: $dark-background;
    color: $dark-text;

    .movie-card,
    .modal-content,
    .seats-grid,
    .filters button {
        background-color: $dark-background;
        color: $dark-text;
        border-color: $dark-gray;
    }

    .close {
        color: $dark-gray;

        &:hover {
            color: $dark-text;
        }
    }
}
